// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/


:root {
  --ion-color-primary: #e26822;
  --ion-color-primary-rgb: 124, 58, 237;
  --ion-color-primary-contrast: #ffffff;

  --ion-color-secondary: rgb(36, 36, 36);
  --ion-color-secondary-rgb: 6, 182, 212;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #e26822;
  --ion-color-secondary-tint: #ff8b3d;

  --ion-color-danger: #808080;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;

  --ion-color-success: #eb8246;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;

}

