<ion-content [fullscreen]="true">

  <div id="container">

    <div class="header">
      <strong>Leki i drugari</strong>
    </div>

    <div class="gallery">

      <div class="gallery-item">
        <img src="assets/leki1.png" alt="Leki">
        <p>Download</p><!--LINK-->
      </div>

      <div class="gallery-item">
        <img src="assets/leki2.jpg" alt="Leki">
        <p>Download</p><!--LINK-->
      </div>

      <div class="gallery-item">
        <img src="assets/leki3.jpg" alt="Leki">
        <p>Download</p><!--LINK-->
      </div>

    </div>

    <ion-button (click)="back()" >Vrati se na start</ion-button>
  </div>

</ion-content>
