<ion-content [fullscreen]="true">

  <div id="container">

    <div class="header">
      <strong>Leki i drugari</strong>
    </div>

    <div class="gallery">

      <div class="gallery-item">
        <img src="assets/leki 1.png" alt="Leki">
        <a href="#" (click)="downloadImage('assets/leki 1.png', 'leki-1.png'); $event.preventDefault()">
          Download Leki 1
        </a>
      </div>

      <div class="gallery-item">
        <img src="assets/leki 2.png" alt="Leki">
        <a href="#" (click)="downloadImage('assets/leki 2.png', 'leki-2.png'); $event.preventDefault()">
          Download Leki 2
        </a>
      </div>

      <div class="gallery-item">
        <img src="assets/leki 3.png" alt="Leki">
        <a href="#" (click)="downloadImage('assets/leki 3.png', 'leki-3.png'); $event.preventDefault()">
          Download Leki 3
        </a>
      </div>

      <div class="gallery-item">
        <img src="assets/lara 1.png" alt="Lara">
        <a href="#" (click)="downloadImage('assets/lara 1.png', 'lara-1.png'); $event.preventDefault()">
          Download Lara 1
        </a>
      </div>

      <div class="gallery-item">
        <img src="assets/lara 2.png" alt="Lara">
        <a href="#" (click)="downloadImage('assets/lara 2.png', 'lara-2.png'); $event.preventDefault()">
          Download Lara 2
        </a>
      </div>

      <div class="gallery-item">
        <img src="assets/vatri 1.png" alt="Vatroslav">
        <a href="#" (click)="downloadImage('assets/vatri 1.png', 'vatri-1.png'); $event.preventDefault()">
          Download Vatroslav Vatri 1
        </a>
      </div>

      <div class="gallery-item">
        <img src="assets/vatri 2.png" alt="Vatroslav">
        <a href="#" (click)="downloadImage('assets/vatri 2.png', 'vatri-2.png'); $event.preventDefault()">
          Download Vatroslav Vatri 2
        </a>
      </div>

      <div class="gallery-item">
        <img src="assets/dina 1.png" alt="Dina">
        <a href="#" (click)="downloadImage('assets/dina 1.png', 'dina-1.png'); $event.preventDefault()">
          Download Dina 1
        </a>
      </div>

      <div class="gallery-item">
        <img src="assets/dina 2.png" alt="Dina">
        <a href="#" (click)="downloadImage('assets/dina 2.png', 'dina-2.png'); $event.preventDefault()">
          Download Dina 2
        </a>
      </div>

    </div>

    <ion-button (click)="back()" >Vrati se na start</ion-button>
  </div>

</ion-content>
