<ion-content [fullscreen]="true">
  <div id="container">
    <h1><strong> Kraj </strong></h1>
    <hr />
    <p>Pitanja : <strong>{{totalQuestions}}</strong></p>
    <p>Tacnih odgovora : <strong class="correctText">{{correctCount}}</strong></p>
    <p>Pogresnih odgovora : <strong class="incorrectText">{{incorrectCount}}</strong></p>
    <p>Preskocenih odgovora : <strong class="skippedText">{{skippedCount}}</strong></p>
    <hr />
    <p><ion-button (click)="goBackClick()">Nazad na pocetak</ion-button></p>
  </div>
</ion-content>